footer {
	box-sizing: border-box;
	width: 100%;
	background: $header-bg-color;
	padding: 20px 25px;
	margin-top: 70px;


	p {
		float: left;
		color: #FFF;
		margin-bottom: 0;
		font-size: 14px;
	}

	a {
		float: right;
		color: $logo-color;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;


		&:hover {
			color: $hover-logo-color;
		}
	}
}