$green:                            #2ECC71;
$grey:                             #343434;

$a-color:                          #444;
$hover-a-color:                    $green;
$p-color:                          #555;

$header-bg-color:                  $grey;
$logo-color:                       #FFF;
$hover-logo-color:                 #FFF;
$active-menu-items-color:          $green;

$time-and-tag-color:               #AAA;
$time-and-tag-color-2:             #999;

$carousel-item-title-color:        #444;
$hover-carousel-item-title-color:  $green;
$carousel-controls-color:          #FFF;
$carousel-controls-bg-color:       $grey;
$hover-carousel-controls-bg-color: $green;

$read-more-color:                  #FFF;
$read-more-bg-color:               $green;
$hover-read-more-bg-color:         $grey;

$paginator-item-color:             #FFF;
$paginator-item-bg-color:          $grey;
$active-paginator-item-bg-color:   $green;